* {
	margin: 0;
	padding: 0;
  }
  
 
  header {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: flex-end;
	align-items: center;  
  }
  
  header > nav {
	padding: 1rem;
	width: 20%;
	display: flex;
	justify-content: center;
  }
  
  nav a {
	margin-right: 1rem;
	font-size: 1.6rem;
	text-decoration: none;
	color: white;
	font-family: 'Pacifico', cursive;
	font-weight: 800;  
	font-style: oblique;
  }
  
  a:hover {
	border-radius: 50px;
	text-shadow: 0 0 10px white;
  }
  
  a:focus {
	color: white;
	text-decoration: 0 0 15px #fff;
  }
  
  header > h1 {
	width: 80%;
	font-size: 3rem;
	color: rgb(0, 0, 0);
	font-style: italic;
	font-family: 'Shadows Into Light', cursive;
	margin-left: 1rem;  
  }
  
  hr {
	width: 90%;
	text-align: center;
	margin: 2rem ;
	height: 0.2rem;
	background: linear-gradient(-40deg, #00eeff, #080bb8,rgb(73, 9, 224));
  }
  
  main {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  main > img {
	border-radius: 15px;
	box-shadow: -10px -10px 5px #0b0b75;
  }
  
  main > img:hover {
	filter: invert(50);  
  }
/* Estilos register */  

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(90deg, black,#2d2001,#705e02,#ffff00);
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

header > nav {
  padding: 1rem;
  width: 20%;
  display: flex;
  justify-content: center;
}

nav a {
  margin-right: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  font-family: 'Pacifico', cursive;
  font-weight: 800;  
  font-style: oblique;
}

a:hover {
  border-radius: 50px;
  text-shadow: 0 0 10px blue;
}

a:focus {
  color: blue;
  text-decoration: 0 0 15px #fff;

}


main > img:hover {
  filter: grayscale(50)
}

#frm-register {
  width: 25rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: groove 5px yellow;
  border-radius: 15px;
  box-shadow: 0 0 25px red;
  padding: 1rem;
}

#frm-register #img-form {
  width: 50%;
}

#frm-register input {
  width: 80%;
  margin: 0.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  color: #8fee11;
  background-color: #343b41;
  padding-left: 0.5rem;
}

.buttons {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.buttons a {
  color: white;
  font-size: 1.2rem;
  text-shadow: 0 0 10px rgb(226, 43, 43);
  text-decoration: none;
}

.buttons > a:hover {
  font-weight: 900;
  color: #ee1111;
  font-size: 1.3rem;
}

.myButton {
	box-shadow: 0px -2px 7px #eeac07;
	background:linear-gradient(to bottom, #3e2001 5%, #ebdc0a 100%);	
	border-radius:15px;
	border:3px solid #8f7105;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662727;
  margin: 1rem;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bf2a2a 5%, #c5c744 100%);
	background-color:#bf2a2a;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* Register mas profundo*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #696969;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}




/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}